{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="{% static 'fastcookapp/grayscale.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #161616" id="mainNav">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="  nav-link js-scroll-trigger" href="#about" style="font-size: 100%; text-transform: uppercase;color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000"><b>ABOUT</b> <i class="fas fa-info-circle"></i></a>
          </li>
          &nbsp;
          <li class="nav-item">
            <a class="  nav-link js-scroll-trigger" href="#projects" style="font-size: 100%; text-transform: uppercase;color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;"><b>Features</b> <i class="fas fa-tasks"></i> </a>
          </li>

        </ul>
      </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <img class="img-fluid" src="images/logo_copy.png" alt="" height="400" width="500">
        <h2 class="text-white-50 mx-auto mt-2 mb-5">The secret is in the recipe</h2>
        <a href="{% url 'profile' %}" class="btn btn-primary js-scroll-trigger text-white-50">Log in</a>
        <a href="{% url 'register' %}" class="btn btn-primary js-scroll-trigger text-white-50">Register</a>

      </div>
    </div>
  </header>


  <!-- Projects Section -->
  <section id="about" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="images/fastcook.gif" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h2>About</h2>
            <p class="text-black-50 mb-0">Fastcook aims to combat the poor layout of instructions in a recipe. Typically, the methods are portrayed in a way that shows the cook what to do per step. This consumes a lot of time as the cook would have to wait for every step to be completed.  </p>
        </br>

            <p class = "text-black-50 mb-0"> The user of Fastcook will be able to create a simplified flowchart that can demonstrate to the cook how to work simultaneously. This would be visually appealing to the user and will make cooking more efficient as they can see what to do while waiting for a particular step to finish.</p>
          </div>
        </div>
      </div>
    </section>

      <!-- Project One Row -->
      <section id="projects" class="projects-section bg-light">
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="images/demo-image-01.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Save your work!</h4>
                <p class="mb-0 text-white-50">Fastcook allows you to save your work on the cloud, so you can access it when you want.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="images/demo-image-02.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Share your recipe!</h4>
                <p class="mb-0 text-white-50"> Once you have finished creating the recipe, we give you the ability to generate a unique URL that only the people you send to can access. </p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Fastcook 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'fastcookapp/grayscale_obfuscated.js' %}"></script>

</body>

</html>
{% endblock %}