{% extends 'fastcookapp/base.html' %}
{% load staticfiles %}
{% block content %}

<!doctype html>

<html>

<head>
<meta charset="utf-8">        
<script src="{% static 'fastcookapp/mxgraph.js' %}"></script> 
<script type="text/javascript">
    mxBasePath = "{% static 'fastcookapp/mxgraph-master/mxgraph-master/javascript/src' %}";
</script>
<script src="{% static 'fastcookapp/mxgraph-master/mxgraph-master/javascript/mxClient.js' %}"></script>
<script type="text/javascript">
window.onload = function(){
    main(document.getElementById("graphContainer"));
}

</script> 

</head>

<div id = "toolbar">

</div>

<div id = "container">
	
</div> 


<p id="demo">{{entries}}</p>           


</html>
{% endblock %}