{% extends 'fastcookapp/base.html' %}
{% load staticfiles %}
{% block content %}

<!doctype html>

<html>

<head>
<meta charset="utf-8"> 


<!--<script type="text/javascript">
  var openXML = {{openXML | safe}}
</script> -->

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
 

<script src="{% static 'fastcookapp/mxgraph.js' %}"></script> 
<script src="{% static 'fastcookapp/newGraph.js' %}"></script> 


<script type="text/javascript">
    mxBasePath = "{% static 'fastcookapp/mxgraph-master/mxgraph-master/javascript/src' %}";
</script>
<script src="{% static 'fastcookapp/mxgraph-master/mxgraph-master/javascript/mxClient.js' %}"></script>
<script src="{% static 'fastcookapp/ajax.js' %}"></script> 
<script type="text/javascript">
window.onload = function(){
    main(document.getElementById("graphContainer"));
}

</script> 


</head>



<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="navbar-nav mx-auto">
    <li class="nav-item"   style="">
      <input class = "nav-link" type='button' id = "currentTitle" maxlength = "50" type="text" name="currentTitle" value="{{newGraphTitle}}" data-toggle="modal" data-target="#saveTitleModal" readonly > 
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link"href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span></a></li>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span class="glyphicon glyphicon-log-out"></span></a></li>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span class="glyphicon glyphicon-question-sign "></span> </a></li>
    </li>
  </ul>
</nav>


<div id = "toolbar" style="overflow:scroll; left: 0px; top: 100px; width: 250px; bottom: 36px;">

  <h1 class = "searchForIngredients"> How would you like to search for ingredients? </h1>

  </br>

  <div class = "searching">
  <button class = "searchB" id = "searchImage" onclick="hideOnClk(this.id)">By Search</button>
  <button class= "searchB" id = "categoryImage" onclick="hideOnClk(this.id)">By Category</button>
  </div>

  <!--<form method = "get">
      <input style = "display: none" type="text" id="searchEngine" placeholder="Type your ingredient here">

  </form>-->

<div id = "searchToolbar">
<form style = "display: none" id="search" method="POST" action="{% url 'search' %}">
  
  {% csrf_token %}

  <input  type="text" name = "searchEngine" id="searchEngine" placeholder="Type your ingredient here">
  <p id = "noResults"></p>

</form>
</div>

  <div id = "byCategory">
  <button class="collapsible ">Equipment</button>

  <div id = "generalContent"></div>

  <button class="collapsible">Measurement</button>

  <div id = "measurement"></div>

  <button class="collapsible">Bakery</button>

  <div id = "content"></div>

  <button class = "collapsible"> Berries </button>

  <div id = "berries"></div>

  <button class = "collapsible"> Dairies </button>

  <div id = "dairies"></div>

  <button class = "collapsible"> Fruits </button>

  <div id = "fruits"></div>

  <button class = "collapsible"> Meat </button>

  <div id = "meat"></div>

  <button class = "collapsible"> Nut </button>

  <div id = "nut"></div>

  <button class = "collapsible"> Vegetables </button>

  <div id = "vegetables"></div>

  <button class = "collapsible"> Seafood </button>

  <div id = "seafood"></div>

  <button class = "collapsible"> Other </button>

  <div id = "other"></div>

  </div>

</div>



  <!--<div id = "square">
    <form method = "get">
      <input id = "q" name = "q" type="text"> 

    </form>

    {% for item in members %}
      {{item.username}}
    {% endfor %}
  </div>-->


<!--<div id="toolbarContainer"
    style="position:absolute;white-space:nowrap;overflow:hidden;top:65px;left:74px;max-height:24px;height:36px;right:0px;padding:6px;">
</div>-->


<!--<div class = "diagramContainer diagramBackdrop" style="right: 10px; left: 200px; top: 60px; bottom: 0px; touch-action: none; overflow: auto;">-->
  <div id = "container" style="position:absolute;overflow:hidden;top:100px;left:260px;bottom:36px;right:0px;background-image:url('/images/grid.gif');cursor:default;overflow:scroll;">
  <!--border-width: 1px;
  overflow: hidden;
  left: 0px;
  width: 70%;
  background: url(/images/grid.gif);">-->


  </div> 
<!--</div>-->

<div id = "changeTitle">
  <form>

  {% for xml in xmlData %}
    <input type = "hidden" id = "idOfGraph" value="{{xml.id}}" name = "graphId" class="currentGraph">
    <input type="hidden" value="{{xml}}" id="openedGraphxml">
    <input type="hidden" value="{{xml.title}}" id="openedGraphTitle">
  {% endfor %}
    
    
    <!--<button id = "currentTitle" type="text" name="currentTitle" data-toggle="modal" data-target="#saveTitleModal" > {{newGraphTitle}} </button>-->

  </form>
</div>

<div id = menuBar class="topnav" id="myTopnav">


    <div class = "dropdown" id = "toptoolbar" style="top: -13">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      File
    </button>

    <button id = "share" data-toggle="modal" data-target="#shareModal">Share</button>
    <!--<form action="{% url 'share' %}">
        <button id = share type="submit">Share</button>

    </form>-->
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button" data-toggle="modal" data-target="#newModal">New</button>
      <button id = "openXML" class="dropdown-item" type="button" data-toggle="modal" data-target="#openModal">Open</button>
      <button class="dropdown-item" type="button" id = "saveButton">Save</button>
      <button class="dropdown-item" type="button" data-toggle="modal" data-target="#saveAsModal">Save as</button>
    </div>
    </div>


</div>

<!-- The Modal -->
  <div class="modal" id="saveAsModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <input id = "saveAsTitle" type="text" placeholder="Name" name="saveAsTitle">

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" data-dismiss="modal" id = saveName>Save</button>
         
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>


        </div>
        
      </div>
    </div>
  </div>

<!-- The Modal -->
  <div class="modal" id="openModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div id = "loadAllTitles" class="modal-body">
          <!-- this does nothing lol-->
          <!--{% for titles in title %}

          <table>
          <tr id = "graphButton"> 
            <td> <input type = "button" class = "openGraph" value = "{{titles.title}}" id="{% url 'openGraph' title=titles.id %}"> </td> 
            <td> <input type = "button" class = "deleteGraph" value = "Delete" id="{% url 'deleteGraph' title=titles.id %}"> </td>
          </tr>
          </table>
          {% endfor %}-->
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
                 
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

        </div>
        
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="newModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <input id = "openTitle" type="text" placeholder="Title" name="openTitle">
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        
        <button class = "openFile" type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
         
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>


        </div>
        
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="saveTitleModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <input id = "newTitle" type="text" placeholder="Name" name="newTitle" maxlength = "50">

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" id = saveNewTitle>Save</button>
         
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>


        </div>
        
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="shareModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">


            <section class='rating-widget'>
              
              <!-- Rating Stars Box -->
              <div class='rating-stars text-center'>
                <ul id='stars'>
                  <li class='star' title='Poor' data-value='1'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Fair' data-value='2'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Good' data-value='3'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Excellent' data-value='4'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='WOW!!!' data-value='5'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                </ul>
              </div>
            
              
            
            </section>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        

        <button id = share class="btn btn-primary" type="submit">Share</button>         
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>


        </div>
        
      </div>
    </div>
  </div>
    
</html>
{% endblock %}