{% extends 'fastcookapp/base.html' %}
{% load staticfiles %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="{% static 'fastcookapp/newGraph.js' %}"></script> 
<script type="text/javascript">
    mxBasePath = "{% static 'fastcookapp/mxgraph-master/mxgraph-master/javascript/src' %}";
</script>
<script src="{% static 'fastcookapp/mxgraph-master/mxgraph-master/javascript/mxClient.js' %}"></script>
<script src="{% static 'fastcookapp/ajax.js' %}"></script> 


    You can create a new graph by clicking <a class = "newGraph" href="" data-toggle="modal" data-target="#createNewGraph">here</a>

    <div id = "loadAllTitles">
      {% for titles in title %}
          <table>
          <tr> 
            <form method="POST" action="{% url 'openGraphFromProfile' title=titles.id %}">
              {% csrf_token %}
              <td> <input type = "submit" class = "openGraph" value = "{{titles.title}}" id="{% url 'openGraphFromProfile' title=titles.id %}"> </td> 
            </form>
            <td> <input type = "button" class = "deleteButton" onclick="doFunction(this.id, this)" value = "Delete" id="{% url 'deleteGraph' title=titles.id %}"> </td>
          </tr>
          </table>
      {% endfor %}
    </div>



<div class="modal" id="createNewGraph">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        

        <!-- Modal body -->
        <div class="modal-body">
        <form method = "POST" action = "{% url 'create' %}">
           <input type="text" name="graphTitle22" id="graphTitle">
        </div>
     
          <!-- Modal footer -->
          <div class="modal-footer">
       

            {% csrf_token %}
          
          <button type="submit" class="btn btn-primary" name = "test123" id = "test123">Save</button>

          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

        </form>


        </div>
        
      </div>
    </div>
</div>
    

    {% if overwrite %}

    <script type="text/javascript">

      $(window).on('load',function(){
          $('#createNewGraph').modal('show');
        });

      $("#test123").click(function (event){
        //console.log($("#graphTitle").val())
        alert($("#graphTitle").val() + " is already taken")


      })
        
    </script>

    {% endif %}


{% endblock %}