{% extends 'fastcookapp/base.html' %}
{% load staticfiles %}
{% block content %}

<!doctype html>

<html>

<head>
	<script src="{% static 'fastcookapp/shareGraph.js' %}"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
	    mxBasePath = "{% static 'fastcookapp/mxgraph-master/mxgraph-master/javascript/src' %}";
	</script>
	<script src="{% static 'fastcookapp/mxgraph-master/mxgraph-master/javascript/mxClient.js' %}"></script>

	<script type="text/javascript">
		window.onload = function(){
		    main(document.getElementById("graphContainer"));
		}
	</script> 
</head>


<input type="hidden" name = "xmlData" id = "sharedXMLData" value="{{ graph }}">
	
<input type="submit" name="share">

<div class = "diagramContainer diagramBackdrop" style="right: 0px; left: 219.25px; top: 95px; bottom: 30px; touch-action: none; overflow: auto;">
  <div id = "sharedContainer" style="position: absolute;
  border-width: 1px;
  overflow: hidden;
  left: 0px;
  width: 70%;">
  </div> 
</div>

</html>
{% endblock %}