{% extends 'fastcookapp/base.html' %}
{% load staticfiles %}
{% block content %}

<!doctype html>

<html>

<head>
	<script src="{% static 'fastcookapp/shareGraph.js' %}"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
	    mxBasePath = "{% static 'fastcookapp/mxgraph-master/mxgraph-master/javascript/src' %}";
	</script>
	<script src="{% static 'fastcookapp/mxgraph-master/mxgraph-master/javascript/mxClient.js' %}"></script>

	<script type="text/javascript">
		window.onload = function(){
		    main(document.getElementById("graphContainer"));
		}
	</script> 
</head>

<p> {{graph.title}} </p>

<section class='rating-widget'>
              
              <!-- Rating Stars Box -->
              <div class='rating-stars text-center'>
                <ul id='stars'>
                  <li class='star' title='Poor' data-value='1'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Fair' data-value='2'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Good' data-value='3'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Excellent' data-value='4'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='WOW!!!' data-value='5'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                </ul>
              </div>
            
              
            
</section>

<input type="hidden" id = "rating" value="{{ rating }}">

<input type="hidden" name = "xmlData" id = "sharedXMLData" value="{{ graph.XMLGraph }}">
	

<div class = "diagramContainer diagramBackdrop" style="right: 0px; left: 219.25px; top: 95px; bottom: 30px; touch-action: none; overflow: auto;">
  <div id = "sharedContainer" style="position: absolute;
  border-width: 1px;
  overflow: hidden;
  left: 0px;
  width: 70%;">
  </div> 
</div>

</html>
{% endblock %}