#square{
	width: 156px;
    height: 25vw;
    border: 1px solid #e5e5e5;
}

#categoryImage{
	display: none;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #555;
}

#content, #generalContent, #measurement, #berries, 
#dairies, #fruits, #meat, #nut, #vegetables,
#seafood, #fastfood, #other
{
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

img.mxToolbarmode{
	width:50;
}

input[type="text"] {
             display: block;
             margin : 0 auto;
        }

#toolbar{
	/*position: absolute;
	overflow: hidden;
	float: left;
	padding: 2px;
	left: 0px;
	top: 26px;
	width: 24px;
	bottom: 0px;*/
	background:#ffffff;
	overflow:hidden;
	position:absolute;
	border-top:1px solid #e5e5e5;
	overflow:auto;
}


.diagramBackdrop{
	/*background-color: #ebebeb;*/
	overflow: auto;

}

.diagramContainer{
	/*border: 1px solid #e5e5e5;*/
	font-size: 0px;
	outline: none
}

.diagramContainer, #container, #toolbar{
	position: absolute;
	overflow: hidden;

}


