#sidebar{
	width:100px;
    height:600px;
    background:white;
    left: 0px; 
    top: 95px; 
    width: 195.5px; 
    bottom: 36px;
}

#toolbar{
	position: absolute;
	overflow: hidden;
	float: left;
	padding: 2px;
	left: 0px;
	top: 26px;
	width: 24px;
	bottom: 0px;
}

#container{
	width: 70%;
	position: absolute;
	overflow: hidden;
	float: right;
	left: 24px;
	top: 26px;
	right: 0px;
	bottom: 0px;
	background: url("/images/grid.gif");
}

