.glyphicon {
    font-size: 25px;
}


body#mainBody {
    BACKGROUND-COLOR: whitesmoke;
}

div#container {
    background-color: white;
}


div#toptoolbar  {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    border-top:  1px solid #e0e0e0;
}

button#dropdownMenu2 {
    background: white;
    
}

#dropdownMenu2:hover  {
    background-color: lightgrey
}

#share:hover  {
    background-color: lightgrey
}

#share {
  height: 20.5;
  width: 43.27;
  border-radius: 2px;
}

.bg-light{
  background-color: whitesmoke!important;
}

.toolbarButton, #share {
  background-color: white; /* Green */
  border: 2px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
}

input#currentTitle {
    margin: 0;
    padding: 0;
    font-size: 30px;
    background: none;
    border: none;
    text-overflow: ellipsis;
    text-align: center;

}

input#currentTitle:focus {
  outline: none;
  background: white;
}

input#currentTitle:hover {
  background:#F5F5F5;
}

#square{
	width: 156px;
    height: 25vw;
    border: 1px solid #e5e5e5;
}

#categoryImage{
	display: none;
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #A2A0A0;
}

#content, #generalContent, #measurement, #berries, 
#dairies, #fruits, #meat, #nut, #vegetables,
#seafood, #fastfood, #other
{
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

img.mxToolbarmode{
	width:50;
}

input[type="text"] {
             display: block;
             margin : 0 auto;
        }

#toolbar{
	/*position: absolute;
	overflow: hidden;
	float: left;
	padding: 2px;
	left: 0px;
	top: 26px;
	width: 24px;
	bottom: 0px;*/
	background:#ffffff;
	overflow:hidden;
	position:absolute;
	border-top:1px solid #e5e5e5;
	overflow:auto;
}


.diagramBackdrop{
	/*background-color: #ebebeb;*/
	overflow: auto;

}

.diagramContainer{
	/*border: 1px solid #e5e5e5;*/
	font-size: 0px;
	outline: none
}

.diagramContainer, #container, #toolbar{
	position: absolute;
	overflow: hidden;

}




/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
